// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto&display=swap');
html body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
